@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tuka's Assignment</h1>
    <p>My Favorite Video</p>
</div>

<div class="container">
    <h1>My Favorite Song</h1>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xfqBQ2XhBCg?si=Tv_4razlnLqMSXum" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>